.ui-btn {
  &.is-toolbar {
    display: block;
    width: 44px;
    height: auto;
    min-height: 0px;
    max-height: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    padding: 6px 0;
    line-height: 1;
    font-size: 0px;
    img {
      height: 22px;
      width: auto;
    }
    &:hover,
    &:focus {
      background: #f0f4f9;
    }
    &.is-horizontal {
      img {
        height: auto;
        width: 12px;
      }
    }
  }

  &.is-rounded {
    background: #fff;
    padding: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background: lighten(#f0f4f9, 2%);
    }
    img {
      width: 21px;
      height: auto;
    }
  }
  &.is-radius {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    padding: 0px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    color: #8e98b3;
    font-size: 10px;
    font-weight: 600;
    &:hover {
      background: lighten(#f0f4f9, 2%);
    }
    img {
      height: 8px;
      width: auto;
    }
  }
}
